{% extends "../base/base.tpl" %}
{% block content %}

Make your own comic!

<p>{{comic.title}}</p>
<p>
<img id="comic" src="{{ comic.file }}" usemap="#captions">
<map id="captions" name="captions">
  {% for caption in comic.captions %}
  <area shape="rect" coords="{{caption['coords']}}" nohref="" alt="{{caption['title']}}">
  {% end %}
</map>
</p>

{% for caption in comic.captions %}
<div id="{{caption['title']}}" style="word-wrap: break-word; position: absolute; display: none;">
<textarea id="{{caption['title']}}ta"></textarea>
<span id="{{caption['title']}}txt" style="display: none"></span>
</div>
{% end %}

<div>
    <form id="comic-form" action="{{reverse_url('comic-comic', comic._id)}}" method="post">
        {% raw xsrf_form_html() %}
        <input type="submit" value="Add Comic">
    </form>
</div>

<script type="text/javascript">
    $(document).ready(function() {
        $('area').click(function() {
            // refactor this ugliness lol
            var idtag = $(this).attr('alt');
            var cap = $("#"+idtag);
            var capta = $("#"+idtag+"ta");
            var captxt = $("#"+idtag+"txt");
            var coords = $(this).attr('coords');
            var realx1 = getRelativeLeft(coords);
            var realy1 = getRelativeTop(coords);
            var taheight = getHeight(coords);
            var tawidth = getWidth(coords);

            // set properties from above calculations and display
            capta.css({
                "left":realx1+"px",
                "top":realy1+"px",
                "height":taheight+"px",
                "width":tawidth+"px"
                });
            cap.css({
                "left":realx1+"px",
                "top":realy1+"px",
                "height":taheight+"px",
                "width":tawidth+"px",
                }).show();
            capta.focus();

            function leftta() {
                var text = capta.val();
                if (text != "") {
                    captxt.text(text);
                    captxt.show();
                    addCaption(idtag, text);
                }
                capta.hide();
            }
            function addCaption(title, text) {
                //$('element').length == 0;
                var i = $('input[name$="caption_'+title+'"]');
                if (i.length == 0) {
                    // doesn't exist, add it
                    $('<input>').attr({
                        type: 'hidden',
                        name: 'caption_'+title,
                        value: text
                    }).appendTo('#comic-form');
                } else {
                    // update existing (this doesnt exist yet)
                    i.attr('value', text);
                }
            }

            // more events for handling input
            capta.keydown(function (e) {
                if (e.keyCode == 13) {
                    // Enter pressed
                    leftta();
                }
            });
            capta.focusout(function() {
                // focus left the text area
                leftta();
            });

            return false;
        });
        $(":submit").click(function() {
            // debug stuff
            var s = "";
            {% for caption in comic.captions %}
                var cap = $('#{{caption['title']}}ta').val();
                s += "{{caption['title']}}: "+cap+"\n";
            {% end %}
            //return false;
        });
    });
</script>


{% end %}
