@charset "utf-8";
/* CSS Document */

/*reset*/
html, body, div, span, applet, object, iframe, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, sub, sup, tt, var, dl, dt, dd, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    vertical-align: baseline;
}

#header {background-color:#cdcdcd; height: 35px;}

#navigation {}
#navigation ul {margin: 0;padding: 0; list-style-type: none;}
#navigation li {display: inline; padding: 3px;}

#content {padding: 10px;}

#content .comic-text {
    word-wrap: break-word;
    position: absolute;
    display: none;
    text-align: center;
    vertical-align: middle;
}

#footer {margin-top: 10px; padding: 3px;}

