{% extends "../base/base.tpl" %}
{% block content %}
Welcome to the admin page:

<p>This Comic: {{comic.title}}</p>
<p>
<img id="comic" src="{{ comic.file }}" usemap="#captions">

{% if comic.captions %}
<map name="captions">
    {% for c in comic.captions %}
    <area shape="rect" coords="{{c['coords']}}" nohref="" alt="{{c['title']}}">
    {% end %}
</map>
{% end %}
</p>

<div style="display: none; position: absolute; background-color:#065743; height: 100px; width: 100px; " id="resizeDiv">
    <input name="captitle" type="text" size="10">
    <input type="button" value="done" onclick="addmap();">
    <input type="button" value="cancel" onclick="resetDiv();">
</div>

<div id="controls">
    <input type="button" value="add a new map" onclick="showmap();">
</div>

<div id="showmaps">
</div>

<div>
    <form id="comic-form" action="{{reverse_url('admin-comic', comic._id)}}" method="post">
        {% raw xsrf_form_html() %}
        <input type="submit" value="Finalize Comic">
    </form>
</div>

<script type="text/javascript">
    var cnum = 1; // used for auto caption titles

    $(document).ready(function() {
        var rdiv = $('#resizeDiv');
        rdiv.draggable().resizable();
        var comic = $('#comic');
        var coff = comic.offset();
        //alert('left: '+coff.left+' '+coff.top);
        rdiv.css({
            "left":parseInt(coff.left)+20+"px",
            "top":parseInt(coff.top)+100+"px",
            });
        storedmaps();
    });

    function storedmaps() {
        var captions = {
        {% for c in comic.captions %}
            "{{c['title']}}":"{{c['coords']}}",
        {% end %}
        }
        for (var title in captions) {
            displayCaptionMap(title, captions[title]);
        }
    }


    function deletemap(title) {
        var mapdiv = $('#map_'+title);
        var showdiv = $('#show_'+title);

        var existingc = $('input[name$="caption_'+title+'"]');
        if (existingc.val() != undefined) {
            // You added one and deleted it
            existingc.remove()
        } else {
            // Caption exists on the server, send a delete
            $('<input>').attr({
                type: 'hidden',
                name: 'delcaption_'+title,
                value: title
            }).appendTo('#comic-form');
        }
        mapdiv.remove();
        showdiv.remove();
    }

    function displayCaptionMap(title, coords) {
        //alert('left: '+getRelativeLeft(coords)+' top: '+getRelativeTop(coords)+' height: '+getHeight(coords)+' width: '+getWidth(coords));
        var newdiv = [
            '<div id="map_'+title+'"',
            '    style="top: '+getRelativeTop(coords)+'px;',
            '    left: '+getRelativeLeft(coords)+'px;',
            '    height: '+getHeight(coords)+'px; ',
            '    width: '+getWidth(coords)+'px; ',
            '    background-color: #c0c0c0; ',
            '    position: absolute; "> ',
            ' '+title+'',
            ' <input type="button" value="delete map" ',
            '        onclick="deletemap(\''+title+'\');">',
            '</div>'
            ].join(' ');
        var showdiv = [
            '<div id="show_'+title+'">',
            'title: '+title+' - coords: '+coords,
            '</div>',
            ].join(' ');
            $('#showmaps').append(newdiv);
            $('#showmaps').append(showdiv);
    }

    function showmap() {
        var rdiv = $('#resizeDiv');
        $('input[name$="captitle"]').val("c"+cnum)
        rdiv.show();
    }

    function addmap() {
        var comic = $('#comic');
        var rdiv = $('#resizeDiv');
        var cpos = comic.offset();
        var posi = rdiv.position();
        var x1 = posi.left - cpos.left;
        var y1 = posi.top - cpos.top;
        var x2 = x1 + rdiv.width();
        var y2 = y1 + rdiv.height();
        rdiv.hide();
        resetDiv();
        var newmap = x1+','+y1+','+x2+','+y2;
        var ctitle = $('input[name$="captitle"]').val();
        $('<input>').attr({
            type: 'hidden',
            name: 'caption_'+ctitle,
            value: newmap
        }).appendTo('#comic-form');
        displayCaptionMap(ctitle, newmap)
        cnum += 1;
    }

    function displaymap(area) {
        $('#showmaps').append('<p>'+area+'</p>');
    }

    function resetDiv() {
        var comic = $('#comic');
        var rdiv = $('#resizeDiv');
        var coff = comic.offset();
        rdiv.css({
            "left":parseInt(coff.left)+20+"px",
            "top":parseInt(coff.top)+20+"px",
            "height":"100px",
            "width":"100px",
            });
        rdiv.hide();
    }
</script>


{% end %}
